{% extends 'base.html' %}

{% block content %}

    <div class="shadow-sm bg-light p-5 rounded">
        <h1 class="display-3">Acompanhe seu aprendizado.</h1>
        <p class="lead">
            Faça seu próprio Diário de Aprendizagem e mantenha uma lista dos
            tópicos sobre os quais você está aprendendo. Sempre que você aprende algo novo
            sobre um tópico, faça um registro resumindo o que você aprendeu.
        </p>
        <a class="btn btn-lg btn-primary" href="{% url 'accounts:signup' %}">Cadastre-se &raquo;</a>
    </div>

{% endblock %}