{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}

    <div class="mb-4">
        <h1>{{ topic.title }}</h1>

        {% if public %}
            <p class="m-0"><span class="text-primary fw-bold">Tópico criado por: </span>{{ topic.owner }}</p>

            <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#topic{{ topic.id }}">
                {% bs_icon 'clipboard-fill' size='1.2rem' %}
            </button>
            <div class="modal fade" id="topic{{ topic.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja copiar o tópico "{{ topic.title|truncatechars:15 }}"</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Cancelar</button>
                            <form action="{% url 'learning_logs:copy_topic' topic.id %}" method="post">
                                {% csrf_token %}
                                <input class="btn btn-sm btn-danger" type="submit" value="Confirmar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="d-flex align-items-center gap-2">
                <a href="{% url 'learning_logs:update_topic' topic.id %}">{% bs_icon 'pencil-square' size='1.2rem' %}</a>

                <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#topic{{ topic.id }}">
                    {% bs_icon 'trash3-fill' size='1.2rem' extra_classes='text-danger' %}
                </button>
                <div class="modal fade" id="topic{{ topic.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja excluir o tópico "{{ topic.title|truncatechars:15 }}"</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Cancelar</button>
                                <form action="{% url 'learning_logs:delete_topic' topic.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="btn btn-sm btn-danger" type="submit" value="Confirmar">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <a href="{% url 'learning_logs:create_entry' topic.id %}">{% bs_icon 'plus-lg' size='1.2rem' %}</a>
            </div>
        {% endif %}
    </div>

    <div>
        {% for entry in entries %}
            <div class="card mb-4">
                <div class="card-header d-flex flex-sm-row flex-column align-items-sm-center justify-content-between">
                    <h4 class="m-0">{{ entry.date_created }}</h4>
                    {% if not public %}
                        <div class="d-flex align-items-center gap-1">
                            <a href="{% url 'learning_logs:update_entry' entry.id %}">{% bs_icon 'pencil-square' size='1rem' %}</a>

                            <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#entry{{ entry.id }}">
                                {% bs_icon 'trash3-fill' size='1rem' extra_classes='text-danger' %}
                            </button>
                            <div class="modal fade" id="entry{{ entry.id }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja excluir o registro "{{ entry.content|truncatechars:15 }}"</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Cancelar</button>
                                            <form action="{% url 'learning_logs:delete_entry' entry.id %}" method="post">
                                                {% csrf_token %}
                                                <input class="btn btn-sm btn-danger" type="submit" value="Confirmar">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>{{ entry.content }}</p>
                </div>
            </div>
        {% empty %}
            <p class="alert alert-danger">Não há registros para esse tópico</p>
        {% endfor %}
    </div>

    {% include 'pagination.html' with page_obj=entries %}

{% endblock %}