{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>{{ topic.title }}</h1>
        <a href="{% url 'learning_logs:update_topic' topic.id %}">Atualizar tópico</a>
        <form action="{% url 'learning_logs:delete_topic' topic.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Excluir tópico">
        </form>
    </div>

    <div>
        {% for entry in entries %}
            <div>
                <h4>{{ entry.date_created }}</h4>
                <p>{{ entry.content }}</p>
                <hr>
            </div>
        {% empty %}
            <div>
                <p>Não há registros para esse tópico</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}